.top-logo{
  position:absolute;
  top:-70px;
  left:-20px;
}

.top-logo img{
  width:300px;
}

.top-header{
  position:absolute;
  width:100%;
  height:60px;
  top:.5em;
  left:0;
  z-index:5;
}

.top-header_padding{
  float:right;
  padding:15px;
  height:30px;
}

nav a{
  color:#333333;
  text-decoration:none;
  padding:.5em 1em;
}

nav a.last{
  display:inline-block;
  text-align:center;
  padding: .75em 1em;
  border:1px solid #682d8d;
  border-radius:5em;
  width:8em;
  transition:.2s;
}

nav a.last:hover{
  background:#682d8d;
  color:#fff;
}

.wrapper{
  margin-top:200px;
  width:100%;
}

.section_landing{
  text-align:center;
}

.section_landing img{
  display:block;
  padding-top:6em;
  margin:0 auto;
  width:22em;
}

section .content{
  max-width:50em;
  margin:0 auto;
}

.section_landing .content h2{
  color:#682d8d;
}



footer{
  width:100%;
  background:#333333;
}
